@import "../../style/helpers.css";

.project-wrapper {
    max-width: 1024px;
    padding: 2rem 1rem;
    margin: 0 auto;

    & > div:first-of-type {
        max-width: 80ch;
        margin: 0 auto;
    }

    & > div > * {
        margin-bottom: 1rem;
    }
}

.home-link {
    position: sticky;
    z-index: 10;
    top: 1rem;
    left: 1rem;
    display: flex;
    width: max-content;
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;
    background-color: var(--secondary);

    &:after {
        display: none;
    }

    & > svg {
        margin: 0.25rem 0.25rem 0 0;
    }
}

li:not(:last-child) {
    margin-bottom: 0.5rem;
}

