@import "../../style/helpers.css";

.project-wrapper {
    @extend %flow;

    max-width: 80ch;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.home-link {
    position: sticky;
    z-index: 10;
    top: 1rem;
    left: 1rem;
    display: flex;
    width: max-content;
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;
    background-color: var(--secondary);

    &:after {
        display: none;
    }

    & > svg {
        margin: 0.25rem 0.25rem 0 0;
    }
}

blockquote {
    padding: 0 3rem;
    font-style: italic;
}

