@import "../style/helpers.css";

.headshot {
    position: relative;
    overflow: visible !important;
    margin-bottom: 1rem;
    
    &:before {
        position: absolute;
        z-index: 1;
        top: -1rem;
        right: 1rem;
        bottom: 1rem;
        left: -1rem;
        border: solid 0.5rem var(--secondary);
        content: "";
    }
}


.projects-wrapper {
    & > * {
        display: block;
    }

    @media screen and (--lg) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        @supports (display: grid) {
            & > * {
                margin: 0;
            }
        }

        & > *:first-child {
            align-self: center;
            padding: 0.5rem 0 0.5rem 0.5rem;
            border-left: solid 0.5rem var(--secondary);
            margin-left: -0.5rem;
            grid-column: 1/13;
            justify-self: center;
            text-align: center;
        }

        & > *:nth-child(odd) {
            grid-column: 1/7 !important;
        }


        & > *:nth-child(even) {
            border-right: solid 1px white;
            border-bottom: solid 1px white;
            grid-column: 13/7 !important;
            
        }

        & > *:nth-child(2) {
            border: solid white 1px;        
        }

        & > *:nth-child(odd):not(:first-child) {
            border: solid white 1px;        
        }
    }
}

.intro-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;

    & > *:first-child {
        @extend %flow;
        max-width: 80ch;

        @media screen and (--md) {
            & > p {
                font-size: var(--500);
            }
        }

        
    }
    

    @media screen and (--lg) {
        flex-direction: row;
    }
}

.projects-heading {
    font-size: var(--700);
    text-align: center;

    @media screen and (--md) {
        font-size: var(--900);
        text-align: left;
    }

    &:after {
        color: var(--secondary);
        content: ".";
    }
}

.link {
    display: inline-block;
    width: max-content;
    padding-right: 0.25rem;

    & > svg {
        margin-right: 0.25rem;
    }

    &:not(:last-of-type) {
        margin-right: 1rem;
    }
}