@import "../style/helpers.css";

.headshotWrapper {
    position: relative;
    width: 15rem;
    height: max-content;
    margin-right: auto;
    margin-left: auto;

    &:before {
        position: absolute;
        z-index: 1;
        top: -1rem;
        left: -1rem;
        width: 100%;
        height: 100%;
        border: solid 0.5rem var(--secondary);
        content: "";
    }

    @media screen and (--lg) {
        width: max-content;
    }
}

.projects-wrapper {

    & > * {
        display: block;
    }

    @media screen and (--lg) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        @supports (display: grid) {
            & > * {
                margin: 0;
            }
        }

        & > *:first-child {
            @extend %flex-center;
            z-index: 1;
            background-color: var(--secondary);
        }

        & > *:nth-child(odd) {
            grid-column: 1/7 !important;
        }

        & > *:nth-child(even) {
            grid-column: 13/7 !important;
        }
    }
}

.intro-container {
    position: relative;
    padding: 2rem 3rem;
    @media screen and (--md) {
        @supports (display: flex) {
            & > * {
                margin: 0;
            }
        }
        display: flex;
        padding-top: 4rem;
        padding-bottom: 2rem;

        & > *:first-child {
            position: absolute;
            right: 25vw;
            bottom: 2rem;
            transform: translateX(50%);
        }

        & > *:nth-child(2) {
            width: 50%;
        }
    }
}

.intro-text-container {
    @extend %flow;
    padding: 0 1rem;
    text-align: center;
}

.intro-text {
    @media screen and (--lg) {
        font-size: var(--500);
    }
}

.projects-heading-container {
    @extend %flow;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-left: solid 0.5rem var(--primary);
    margin-bottom: var(--flow-space);
    margin-left: -0.5rem;
    text-align: center;
}

.projects-heading {
    font-size: var(--700);
    text-align: center;

    &:after {
        color: var(--secondary);
        content: ".";
    }

    @media screen and (--lg) {
        font-size: var(--900);
        text-align: left;

        &:after {
            color: var(--primary);
        }
    }
}

.projects-subheading {
    text-align: center;
}

.link {
    display: inline-block;
    width: max-content;
    padding-right: 0.25rem;

    & > svg {
        margin-right: 0.25rem;
    }

    &:not(:last-of-type) {
        margin-right: 1rem;
    }
}
