@import "../style/helpers.css";

.headshot {
    position: relative;
    overflow: hidden;
}

.headshot-wrapper {
    @extend %flex-center;
    position: relative;
    margin-bottom: 2rem;
    &:after {
        position: absolute;
        z-index: 1;
        top: -1rem;
        right: 1rem;
        bottom: 1rem;
        left: -1rem;
        border: solid 0.5rem var(--secondary);
        content: "";
        /* border-radius: 100%; */
    }

    @media screen and (--lg) {
        margin-bottom: 0
    }

    @media screen and (--lg) {
        width: 33.33333%;
    }
}

.intro-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;

    & > *:first-child {
        @extend %flow;
    }
    

    @media screen and (--md) {
        flex-direction: row;

        & > *:first-child {
            @extend %flow;
            width: 66.6666666%;
            padding-right: 1rem;
        }
    }
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;

    @media screen and (--md) {
        flex-direction: row;
    }
}

.projects-heading {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
}

.link {
    display: inline-block;
    width: max-content;
    padding-right: 0.25rem;

    & > svg {
        margin-right: 0.25rem;
    }

    &:not(:last-of-type) {
        margin-right: 1rem;
    }
}