@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 1024px);

:root {
    --primary: #2c2726;
    --secondary: #5e8646;
    --red: #d64933;
    --blue: #00e1d9;
    --yellow: #d7f75b;
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}