@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 1024px);

:root {
    --primary: #2c2726;
    --secondary: #5e8646;
    --red: #d64933;
    --blue: #00e1d9;
    --yellow: #d7f75b;

    --base: 1rem;
    --300: calc(var(--base) * 0.75);
    --400: var(--base);
    --500: calc(var(--base) * 1.33);
    --600: calc(var(--base) * 1.77);
    --700: calc(var(--base) * 2.36);
    --800: calc(var(--base) * 3.15);
    --900: calc(var(--base) * 4.2);
    --major: calc(var(--base) * 5.6);
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flow {
    --flow-space: 1em;
    & > * + * {
        margin-top: var(--flow-space);
    }
}