@import "../style/helpers.css";

.container {
    position: relative;
    height: 100vh;
    padding: 25vh 0 0 8vw;

    @media screen and (--md) {
        height: auto;
        padding: 15vh 0 15vh 5vw;
    }
}

.canvas {
    position: absolute;
    z-index: -10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.canvas-mask {
    position: absolute;
    z-index: -5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(46, 49, 49, 0.8);
}

.canvas-button {
    display: flex;
    border: 0.2rem solid white;
    background-color: transparent;
    color: #ffffff;

    & > svg {
        margin: 1px 0 0 5px;
        animation: bounce 2s infinite ease-in-out;
    }

    &:hover {
        background-color: #ffffff;
        color: var(--primary);

        & > svg {
            animation: bounce-hard 1s infinite linear;
        }
    }

    @media screen and (--md) {
        font-size: var(--500);
    }
}

.heading-container {
    @extend %flow;
    display: inline-block;
    padding: 2rem 1rem 2rem;
    border-left: solid 1rem var(--secondary);
}

.heading {
    font-size: var(--700);

    & > span {
        display: block;

        &:after {
            color: var(--secondary);
            content: ".";
        }
    }

    @media screen and (--md) {
        font-size: var(--900);
    }
}

@keyframes bounce {
    0%, 100% { transform: translateY(6px); }
    50% { transform: translateY(-2px); }
}

@keyframes bounce-hard {
    0%, 100% { transform: translateY(6px); }
    20% { transform: translateY(-2px); }
    40% { transform: translateY(2px); }
    80% { transform: translateY(-2px); }
}