@import "../style/helpers.css";

body {
    background-color: var(--primary);
    color: #ffffff;
    font-family: Ubuntu, "Segoe UI", Roboto, sans-serif;
    font-size: var(--400);
    line-height: 1.6;
}

button {
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

a, a:visited {
    position: relative;
    color: inherit;
    font-style: italic;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:after {
        position: absolute;
        bottom: -0.25rem;
        left: 0;
        width: 0;
        border-bottom: 1px solid white;
        content: "";
        transition: all 0.5s ease-in-out;
    }

    &:hover:after {
        width: 100%;
    }
}

.main-wrapper {
    @extend %flow;
    max-width: 1536px;
    margin: 0 auto;
}

footer {
    @extend %flex-center;
    position: relative;
    min-height: 10rem;
    flex-direction: column;

    & > *:last-child { 
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
    
}

.links-wrapper {
    display: flex;

    & > *:not(:last-child) {
        margin-right: 1rem;
    }
}

.icon-link{
    @extend %flex-center;
    padding: 0.75rem;
    border: solid #ffffff 0.1rem;
    border-radius: 100%;
    color: #ffffff !important;
    font-size: var(--600);

    &:after {
        all: unset;
    }

    &:hover {
        &:after {
            all: unset;
        }
        background-color: #ffffff;
        color: var(--primary) !important;
    }
}