@import "../style/helpers.css";

body {
    background-color: var(--primary);
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}

button {
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    
    &:focus{
        outline: 1px dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a, a:visited {
    position: relative;
    color: inherit;
    font-style: italic;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:after {
        position: absolute;
        bottom: -0.25rem;
        left: 0;
        width: 0;
        border-bottom: 1px solid white;
        content: "";
        transition: all 0.5s ease-in-out;
    }

    &:hover:after {
        width: 100%;
    }
}

.main-wrapper {
    max-width: 1536px;
    margin: 0 auto;
}

footer {
    @extend %flex-center;
    flex-direction: column;
    padding: 3rem 2rem;

    & > * {
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
    
}

.links-wrapper {
    display: flex;

    & > *:not(:last-child) {
        margin-right: 1rem;
    }
}

.icon-link{
    @extend %flex-center; 

    & > *:first-child {
        margin-right: 0.25rem;
    }
}