@import "../style/helpers.css";

.project {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.project-status {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10rem;
    background-color: var(--blue);
    text-align: center;
    transform: translateY(-2rem) translateX(-2rem) rotate(45deg);
    transform-origin: center;

    &.production {
        background-color: var(--secondary);
    }

    &.development {
        background-color: var(--primary);
    }
}

.drawer-content {
    @extend %flow;
    height: 100%;
    padding: 1rem 0.5rem;
    margin-left: 1.5rem;

    & > span {
        font-size: 1.25rem;
        font-weight: bold;
    }


    & > ul {
        display: none;
    }

    @media screen and (--lg) {
        padding: 2rem 3rem;
        text-align: left;

        & > ul {
            display: block;
        }
    }
}

.project-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 49, 49, 0.7);
    text-align: center;

    & > h3 {
        margin-bottom: 0.5rem;
        font-size: var(--500);

        @media screen and (--md) {
            font-size: var(--600);
        }
    }
}

.project-link {
    padding: 0 0.25rem;
    line-height: 1;

    & > span {
        display: inline-block;
        overflow: hidden;
        max-width: 30ch;
        padding: 0.1rem 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.arrow-wrapper {
    @extend %flex-center;
}

.drawer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    border-radius: 0.25rem 0 0 0.25rem;
    color: #ffffff;
    transform: translateX(calc(100% - 1.5rem));
    transition: all 0.5s ease-in-out;

    & > .drawer-button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        width: 1.5rem;
        padding: 0;
        border: none;
        margin: 0;
        background-color: var(--secondary);
        border-radius: 0;
        color: #ffffff;
        & > div > svg {
            animation: bounce 2s infinite ease-in-out;
        }

        &:hover {
            & > div > svg {
                animation: bounce-hard 1s infinite linear;
            }
        }
    }
    
    &.opened{

        transform: translateX(0);

        & > button > .arrow-wrapper {
            transform: rotate(180deg);
        }
    }
}

.close-drawer-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0 0.25rem 0.25rem 0.25rem;
    border: none;
    border: 2px solid var(--secondary);
    margin: 0;
    background-color: var(--secondary);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
        background-color: #ffffff;
        color: var(--secondary);
    }
}

.case-study-link {
    display: block;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}


@keyframes bounce {
    0%, 100% { transform: translateX(2px); }
    50% { transform: translateX(-4px); }
}

@keyframes bounce-hard {
    0%, 100% { transform: translateX(2px); }
    20% { transform: translateX(-4px); }
    40% { transform: translateX(2px); }
    80% { transform: translateX(-2px); }
}
