.vjs-wrapper {
    min-width: 250px;
    margin: 0 auto;

    & > div {
        & > button {
            top: 50% !important;
            left: 50% !important;
            transform: translateX(-1.5em) translateY(calc(-1.63332em / 2));
        } 
    } 
}

.portrait {
    width: calc(404px / 1.5);
    min-width: auto;
    max-width: 100%;
    height: calc(718px / 1.5);
}